<template>
  <div id="addcategory">
    <div class="grid-content bg-purple">
      <el-input
        placeholder="Наименование категории"
        :disabled="categoryadd"
        v-model="category"
        class="demo-dynamic"
      ></el-input>
      <el-button
        type="primary"
        size="mini"
        :disabled="categoryadd"
        @click="addcategory()"
      >Добавить категорию</el-button>
      <p/>
    </div>
    <div v-if="categoryadd" class="grid-content bg-purple">
      <el-form
        :model="dynamicValidateForm"
        ref="dynamicValidateForm"
        label-width="120px"
        class="demo-dynamic"
      >
        <el-form-item
          v-for="(field, index) in dynamicValidateForm.fields"
          :label="'Поле' + index"
          :key="field.key"
          :prop="'fields.' + index + '.value'"
          :rules="{
      required: true, message: 'field can not be null', trigger: 'blur'
    }"
        >
          <el-input v-model="field.value"></el-input>
          <el-button @click.prevent="removefield(field)">Удалить</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="success" @click="submitForm('dynamicValidateForm')">Закончить</el-button>
          <el-button @click="addfield">Добавить Поле</el-button>
          <el-button @click="resetForm('dynamicValidateForm')">Очистить</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dynamicValidateForm: {
        fields: []
      },
      category: "",
      categoryId: "",
      categoryadd: false,
      SendingCategoiesFields: {
        categoryId: "",
        fields: []
      }
    };
  },

  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let listOfObjects = this.dynamicValidateForm.fields.map(item => {
            return item.value;
          });
          this.SendingCategoiesFields.categoryId = this.categoryId.id;
          this.SendingCategoiesFields.fields = listOfObjects;
          console.log(this.SendingCategoiesFields);
          this.$http
            .post("http://localhost:52697/api/Categories/fields", {
              CategoryId: this.SendingCategoiesFields.categoryId,
              Name: this.SendingCategoiesFields.fields
            })
            .then(response => {
              window.location.reload(true);
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    removefield(item) {
      var index = this.dynamicValidateForm.fields.indexOf(item);
      if (index !== -1) {
        this.dynamicValidateForm.fields.splice(index, 1);
      }
    },
    addfield() {
      this.dynamicValidateForm.fields.push({
        key: Date.now(),
        value: ""
      });
    },
    addcategory() {
      this.$http
        .post(this.$siteurl + "Categories", {
          Name: this.category
        })
        .then(response => {
          this.categoryId = response.data;
          this.categoryadd = true;
        });
    }
  }
};
</script>

<style lang="scss">
</style>
