 <template>
  <div id="allcategory">
   <el-table
          :default-sort="{prop: 'name', order: 'descending'}"
          height="450"
          :data="categories"
          style="width: 100%"
        >
          <el-table-column fixed prop="name" label="Название" sortable width="200"></el-table-column>
          <el-table-column fixed="right" label="Операции" width="175">
            <template slot-scope="scope">
              <el-button @click="DeleteCategory(scope.row)" type="text" size="small">Удалить</el-button>
            </template>
          </el-table-column>
        </el-table>
  </div>
</template>

<script>
export default {
  data(){
    return{
      categories: []
    }
  },
   created() {
    this.getcategories();
  },
  methods:{
     getcategories() {
      this.$http.get(this.$siteurl+"Categories").then(response => {
        this.categories = response.data;
      });
    },
     DeleteCategory(item) {
      this.$http
        .put(this.$siteurl+"Categories/" + item.id)
        .then(response => {
          window.location.reload(true);
        });
    }
  }
}
</script>

 
