﻿<template>
  <div id="maincategory">
    <el-row :gutter="20">
      <el-col :span="8">
       <allcategory></allcategory>
      </el-col>
      <el-col :span="8" :offset="6">
        <addcategory></addcategory>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import allcategory from './allCategory'
import addcategory from './AddCategory'
export default {
  components:{
    allcategory,
    addcategory
  },
  data() {
    return {
      
          
    };
  },
 
 
    
  
};
</script>

