<template>
  <div id="addProduct">
    <Header></Header>
    <el-row :gutter="20">
      <el-col :span="5">
        <el-select
          v-model="selectedcategory"
          placeholder="Выберите Категорию"
          @change="showcustomfields(selectedcategory)"
        >
          <el-option v-for="item in categories" :key="item.id" :label="item.name" :value="item"></el-option>
        </el-select>
        <el-form
          v-if="showform"
          :inline="true"
          :rules="rules"
          :model="sendform"
          ref="sendform"
          class="demo-form-inline"
        >
          <el-form-item prop="name">
            <el-input v-model="sendform.name" placeholder="Название"></el-input>
          </el-form-item>
          <el-form-item prop="Price">
            <el-input v-model="sendform.Price" type="number" placeholder="Цена"></el-input>
          </el-form-item>

          <template v-for="(child, index) in this.customfields">
            <el-form-item :key="child.id" prop="properties">
              <el-input
                :placeholder="[[ child.name ]]"
                v-model="sendform.properties[index]"
                :item="child"
              >{child.name}</el-input>
            </el-form-item>
          </template>

          <el-button
            type="primary"
            :disabled="productadding"
            @click="submitForm('sendform')"
          >Добавить</el-button>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Header from '../Header'
export default {
  components: {Header},
  data() {
    return {
      categories: [],
      selectedcategory: "",
      customfields: [],
      properties: [],
      productadding: false,
      showform: false,
      sendingproduct: {
        properties: [],
        name: "",
        Price: "",
        selectedcategoryId: ""
      },
      sendform: {
        properties: [],
        name: "",
        Price: ""
      },
      rules: {
        Price: [
          {
            required: true,
            message: "Пожалуйста, введите сумму",
            trigger: "blur"
          }
        ],
        name: [
          {
            required: true,
            message: "Пожалуйста, введите название",
            trigger: "blur"
          },
          {
            min: 3,
            max: 15,
            message: "Длина должна составлять от 3 до 15 символов",
            trigger: "blur"
          }
        ],
        properties: [
          {
            required: true,
            message: "Пожалуйста, введите значение",
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    this.getcategories();
  },
  methods: {
    //Проверка заполненности и заполения листа отправки свойст продукта
    submitForm(formName) {
      console.log(formName);
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.productadding = true;
          try{
            var i = 0;
          this.customfields.forEach(element => {
            this.sendingproduct.properties.push({
              CategoryFieldId: element.id,
              Value: this.sendform.properties[i]
            });
            i += 1;
          });
          }
          catch(error) {

          }
          
          this.$http
            .post(this.$siteurl + "products", {
              CategoryId: this.sendingproduct.selectedcategoryId,
              Name: this.sendform.name,
              Price: this.sendform.Price
            })
            .then(response => {
              this.addpropery(response.data.id);
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    //Полечение катоегрии
    getcategories() {
      this.$http.get(this.$siteurl + "Categories/").then(response => {
        this.categories = response.data;
        console.log(this.categories);
      });
    },
    //отображение формы заполнения продукта
    showcustomfields(value) {
      this.showform=true
      this.properties = [];
      this.sendingproduct.properties = [];
      this.selectedcategory = value.name;
      this.sendingproduct.selectedcategoryId = value.id;
      this.customfields = value.categoryFields;
    },
    //отправка продукта и его свойст
    addpropery(value) {
      console.log(value);
      console.log(this.sendingproduct.properties);
      this.$http
        .post(this.$siteurl + "products/property", {
          ProductId: value,
          ProductFields: this.sendingproduct.properties
        })
        .then(response => {
          this.$router.push('/products')
        });
    }
  }
};
</script>

