<template>
  <div id="addproduct">
    <Header></Header>
    <el-row :gutter="20">
      <el-col :span="8">
        <el-col :span="12">
          <el-select
          v-model="selectedcategory"
          placeholder="Выберите Категорию"
          @change="getcustomfields(selectedcategory)"
        >
          <el-option v-for="item in categories" :key="item.id" :label="item.name" :value="item"></el-option>
        </el-select>
        </el-col>
        <el-col :span="3">
          Цена
        </el-col>
        <el-col :span="8">
          <el-slider
            v-model="pricerange"
            @change="filterbyPrice()"
            range
            :min="this.minprice"
            :max="this.maxprice"
            label="Price"
          ></el-slider>
        </el-col>
        <!-- Продукты -->
         <el-table
          :default-sort="{prop: 'name', order: 'descending'}"
          height="450"
          :data="filteredproducts"
          style="width: 100%"
        >
          <el-table-column fixed prop="name" label="Название" sortable width="200"></el-table-column>
          <el-table-column fixed="right" label="Операции" width="175">
            <template slot-scope="scope">
              <el-button @click="DeleteProduct(scope.row)" type="text" size="small">Удалить</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
  
      <el-col v-if="showfields" :span="16">
        <!-- Фильтры -->
        <template v-for="(child, index) in customfields">
          {{child.name}}
          <el-select
            :key="child.id"
            v-model="fieldsvalues[index]"
            @change="filterbyfields(fieldsvalues[index])"
          >
            <el-option
              v-for="item in child.productProperties"
              :key="item.id"
              :label="item.value"
              :value="item"
            ></el-option>
          </el-select>
        </template>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Header from '../Header'
export default {
  components: {Header},
  created() {
    //Получение категории и продуктов
    this.getcategories(), this.getallproducts();
  },
  data() {
    return {
      products: [],
      categories: [],
      selectedcategory: "",
      selectedcustomfield: "",
      customfields: [],
      fieldsvalues: [],
      filteredproducts: [],
      minprice: 0,
      maxprice: 1000,
      pricerange: null,
      filteredbyfieldproducts: [],
      showfields: false
    };
  },
  methods: {
    //Фильтрация по полям
    filterbyfields(value) {
      var errorcount = 0;
      this.fieldsvalues.forEach(element => {
        console.log(element.productId);
        if (element.productId != value.productId) {
          errorcount += 1;
        }
      });
      console.log(errorcount);
      if (errorcount > 0) {
        this.filteredproducts = [];
      } else {
        this.filteredproducts = this.products.filter(
          s => s.id == value.productId
        );
        this.filteredbyfieldproducts = this.filteredproducts;

        this.filterbyPrice();
      }
    },
    //Фильтр по цене
    filterbyPrice() {
      this.filteredproducts = this.filteredbyfieldproducts;
      this.filteredproducts = this.filteredproducts.filter(
        s => s.price >= Math.min.apply(Math, this.pricerange)
      );
      this.filteredproducts = this.filteredproducts.filter(
        s => s.price <= Math.max.apply(Math, this.pricerange)
      );
    },
    DeleteProduct(item) {
      this.$http.put(this.$siteurl + "Products/" + item.id).then(Response => {
        window.location.reload(true);
      });
    },
    getcategories() {
      this.$http.get(this.$siteurl + "Categories/").then(response => {
        this.categories = response.data;
        console.log(this.categories);
        this.categories.push({ categoryFields: null, id: "1", name: "Все" });
      });
    },
    //Получение полей опредленной категриии
    getcustomfields(value) {
      if (value.name == "Все") {
        this.getallproducts();
        this.showfields = false;
      } else {
        this.fieldsvalues = [];
        this.selectedcategory = value.name;
        this.$http
          .get(this.$siteurl + "Categories/" + value.id)
          .then(response => {
            this.customfields = response.data;
            console.log(this.customfields);
          });
        this.getfilteredProducts(value);
      }
    },
    //Получение продуктов определенной категории
    getfilteredProducts(value) {
      this.$http
        .get(this.$siteurl + "Products/filterbycategory/" + value.id)
        .then(Response => {
          this.setProductstoTempList(Response);
        });
      this.showfields = true;
    },
    getallproducts() {
      this.$http.get(this.$siteurl + "Products").then(Response => {
        this.setProductstoTempList(Response);
      });
    },
    setProductstoTempList(Response) {
      this.products = Response.data;
      this.filteredproducts = this.products;
      this.filteredbyfieldproducts = this.filteredproducts;
      this.getprices();
    },
    getprices() {
      this.minprice = Math.min.apply(
        Math,
        this.filteredbyfieldproducts.map(s => s.price)
      );
      this.maxprice = Math.max.apply(
        Math,
        this.filteredbyfieldproducts.map(s => s.price)
      );
      if (this.minprice != this.maxprice) {
        this.pricerange = this.filteredbyfieldproducts.map(s => s.price);
      } else {
      }
    }
  }
};
</script>