<template>
  <div id="Header">
    <el-row>
      <el-col :span="24">
        <el-link href="/" target="_blank">Все категории</el-link>
        <el-link href="/products" type="primary">Все товары</el-link>
        <el-link href="/product/add" type="success">Добавление товара</el-link>
      </el-col>
    </el-row>
    <p/>
  </div>
</template>
