﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Market</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    @RenderBody()


    <footer>
        <p>&copy; 2019 - <a href="#">Женис Жапаров</a></p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
