﻿<template>
  <div>
    <Header></Header>
    <category></category>
  </div>
</template>


<script>
import Header from './Components/Header'
import category from './Components/category/maincategory.vue'
  export default {
    components:{
      category,
      Header
    }
   }
</script>
